<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884285337726-dlqkrp34vnsa2pj8lpmpo8fgsbo0g8og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884285337726-dlqkrp34vnsa2pj8lpmpo8fgsbo0g8og</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884285337726-c83mr8v19rha29mdjfu1hikdfrcrcbg6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2MtantE_FkjVf6Od0cB7N1Z50Ca_lIM0</string>
	<key>GCM_SENDER_ID</key>
	<string>884285337726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idconexion.cobranzas</string>
	<key>PROJECT_ID</key>
	<string>gestorcobranza-721b0</string>
	<key>STORAGE_BUCKET</key>
	<string>gestorcobranza-721b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884285337726:ios:6eee20e0f2233697aa682f</string>
</dict>
</plist>